{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>{{ title }}</title>
{% endblock title %}


{% block header %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/home-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Python Django Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Powered by Python django </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}


{% block container %}
    {% for blog in blog_list %}
        {% if blog.publish %}
                <div class="post-preview">
                    <a href="{% url 'detail' blog.id %}">
                        <h2 class="post-title">
                            {{ blog.title }}
                        </h2>

                        <h3 class="post-subtitle">
                            {{ blog.content }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ blog.author }}</a> {{ blog.updated }}</p>
                </div>
                <hr>
        {% endif %}
    {% endfor %}
{% endblock container %}
